input{
    background-color: var(--Input-Background);
    border: none;
    color: var(--secondry-color);
}
input:focus{
    background-color: var(--Input-Background);
    border: none;
    color: var(--secondry-color);
}
.Logo{
    width: 15rem;
}