<div class="container">
    <div class="row mt-5 gx-0">
    
        <div class="col-md-12 Gray-background py-4 px-3">
         <div class="register-form text-center">
            <img src="./assets/logo (1).png" class="Logo" alt="">
             <H3 class="text-main fw-bold">Reset Your Password</H3>
             <p *ngIf="apiError.length>0" class="alert alert-danger text-center">{{apiError}}</p>
            <form action="" (ngSubmit)="ForgetPassword()" [formGroup]="ForgetForm">
            
             
            <input formControlName="email" type="email" placeholder="Email Address" class="form-control text-center  mt-3" name="" id="">
            <div *ngIf="ForgetForm.get('email')?.errors &&ForgetForm.get('email')?.touched "  class="alert alert-danger">
                <p *ngIf="ForgetForm.get('email')?.getError('email')" class="m-0">Email in-valid</p>
                <p *ngIf="ForgetForm.get('email')?.getError('required')" class="m-0">Email Required</p>
            </div>
            <button [disabled]="ForgetForm.invalid" type="submit"  class="btn btn-dark text-light w-100 py-3 mt-3">
                <i *ngIf="loading" class="fa-solid text-white fa-spinner fa-spin-pulse"></i>
                <span *ngIf="!loading">Reset</span></button>
             
        </form>
         </div>
        </div>
    </div>
</div>