.Home-heading{
    background-image: url('../../../assets/paladins.b44d33d6e7ee1ba8.png');
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    border-bottom: 1px solid black;
}
.heading button{
    border: 1px solid var(--main-color);
}
.game{
  
    transition: 0.5s all;
}
.game:hover{
    scale: 1.02;
}