.image{
    background-image: url('../../../assets/gaming.ebaf2ffc84f4451d.jpg');
    background-size: 100% 100%;
    background-position: cover;
    width: 100%;
    height: 100%;
}
input{
    background-color: var(--Input-Background);
    border: none;
    color: var(--secondry-color);
}
input:focus{
    background-color: var(--Input-Background);
    border: none;
    color: var(--secondry-color);
}
.Logo{
    width: 8rem;
}