/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap');

:root
{
    --main-color:rgba(255, 255, 255, .55);
    --secondry-color:#49acff;
    --Dark-color:#272b30;
    --shadow: rgba(145,158,171,.2) 0px 2px 4px -1px,rgba(145,158,171,.14) 0px 4px 5px 0px,rgba(145,158,171,.12) 0px 1px 10px 0px;
    --font-family:'Encode Sans Expanded', sans-serif;
    --Gray-Background:#32383E;
    --Input-Background:#1C1E22;
}

body{
    font-family: var(--font-family) !important;
    background-color: var(--Dark-color);
}
.curser-pointer{
    cursor: pointer;
}
.text-main{
    color: var(--main-color) !important;
}
.bg-main{
    background-color: var(--main-color) !important;
}
.text-secondry{
    color: var(--secondry-color) !important;
}
.secondry-bg{
    background-color: var(--secondry-color) !important;
}

.Gray-background{
    background-color: var(--Gray-Background);
}

